<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="business">
  <select id="listAll" resultType="businessVo">
    select * from member_business
  </select>
  
  <select id="isBusiness" resultType="businessVo">
  	select * from member_business where mb_id=#{mb_id} and mb_pwd=#{mb_pwd}
  </select>
  
  <insert id="insert">
  	insert into member_business(
  	  	  mb_id
  	<if test="mb_pwd != null">
  		, mb_pwd
  	</if>
  	<if test="salt != null">
  		, salt
  	</if>
  	<if test="mb_email != null">
  		, mb_email
  	</if>
  	<if test="mb_name != null">
  		, mb_name
  	</if>
  	<if test="mb_nickname != null">
  		, mb_nickname
  	</if>
  	<if test="mb_tel != null">
  		, mb_tel
  	</if>
  		, mb_licence
  	<if test="mb_fname != null">
  		, mb_fname
  	</if>
  		, mb_regdate
  		, mb_recdate
  		, mb_auth
  	)
  	values
  	(
  		  #{mb_id}
  	<if test="mb_pwd != null">
  		, #{mb_pwd}
  	</if>
  	<if test="salt != null">
  		, #{salt}
  	</if>
  	<if test="mb_email != null">
  		, #{mb_email}
  	</if>
  	<if test="mb_name != null">
  		, #{mb_name}
  	</if>
  	<if test="mb_nickname != null">
  		, #{mb_nickname}
  	</if>
  	<if test="mb_tel != null">
  		, #{mb_tel}
  	</if>  	
  	   ,  #{mb_licence}
  	<if test="mb_fname != null">
  		, #{mb_fname}
  	</if>
  	    , sysdate
  		, sysdate
  		, #{mb_auth}
  	)
  </insert>
  
  <!-- 암호화 처리를 위한 getMember -->
  <select id="getBusiness" resultType="businessVo">
  	select * from member_business where mb_id=#{mb_id}
  </select>
  
  <!-- 아이디 중복 검사 -->
  <select id="checkId" resultType="businessVo">
  	select * from member_business where mb_id=#{mb_id}
  </select>
  
  <!-- 최근 접속일 -->
  <update id="updateRecdate">
  	update member_business set mb_recdate = sysdate where mb_id=#{mb_id}
  </update>
  
  <!-- 비밀번호 찾기 -->
  <select id="findPwd" resultType="businessVo">
  	select mb_id, mb_email from member_business where mb_id=#{mb_id} and mb_email=#{mb_email}
  </select>
  
  <!-- 임시비밀번호 -->
  <update id="updatePwd">
  	update member_business set mb_pwd = '12345678' where mb_id = #{mb_id}
  </update>
  
  <!-- 회원탈퇴 -->
  <delete id="deleteBusiness">
  	delete member_business where mb_id = #{mb_id}
  </delete>
   
  <!-- 회원정보세션불러오기 -->
  <select id="sessionBusiness" resultType="businessVo">
  	select * from member_business where mb_id=#{mb_id}
  </select>
   
   <!-- 회원정보수정 -->
   <update id="updateBusiness">
   	update member_business set mb_pwd=#{mb_pwd}, mb_email=#{mb_email}, mb_name=#{mb_name}, mb_nickname=#{mb_nickname}, mb_tel=#{mb_tel}, mb_licence=#{mb_licence}, mb_fname=#{mb_fname} where mb_id = #{mb_id}   
   </update>
   
   <!-- 메일에서 사용하는 업데이트문 -->
   <update id="updateBusiness2">
   	update member_business set mb_pwd=#{mb_pwd}, mb_email=#{mb_email}, mb_name=#{mb_name}, mb_nickname=#{mb_nickname}, mb_tel=#{mb_tel} where mb_id = #{mb_id}   
   </update>
   
  
</mapper>