<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campingSpot">

	<!--  설아)  (사업자) 캠핑장 상세정보 -->
	<select id="bossGetCampingSpot" resultType="campingSpotVo">
		select * from camping_spot where cs_no = #{cs_no}
	</select>

	<!-- 설아) (사업자) cs_no 번호 가져오기 -->
	<select id="getCsNo" resultType="campingSpotVo">
		select cs_no from camping_spot where mb_id = #{mb_id}
	</select>

	<!-- 설아) (사업자) 캠핑장 등록 -->
	<insert id="insertCampingSpot">
		insert into camping_spot values (seq_camping_spot.nextval, #{cs_name}, #{cs_tel}, #{cs_addr_head}, #{cs_addr_remain}, #{cs_url},#{cs_account}, #{cs_licence_fname}, #{cs_camp_fname},#{cs_map_fname}, #{cs_lati}, #{cs_long}, #{cs_glamping_cnt},#{cs_caravan_cnt}, #{cs_autocamping_cnt}, #{cs_theme}, #{cs_fac}, #{cs_detail}, #{mb_id})
	</insert>

  <!-- 영현) 캠핑장번호로 캠핑장정보를 가져온다. -->
  <select id="getCampingInfo" resultType="campingSpotVo">
  	select * from camping_spot where cs_no=#{cs_no}
  </select>
</mapper>