<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campingSpot">

  <update id="updateCampingSpot">
  	update camping_spot set cs_name='비토섬오토캠핑장', cs_addr_head='경상남도', cs_addr_remain='사천시 서포면 비토리 255-20 비토섬오토캠핑장', cs_account='농협, 317-0012-6548-11, 신우에이엠씨', cs_theme='산, 강, 호수', cs_fac='와이파이, 샤워실, 운동시설, 바베큐', cs_detail='차가져와유!' where cs_no=100
  </update>
  
</mapper>