<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
  <select id="listAll" resultType="memberVo">
    select * from member_customer
  </select>
  
  <select id="isMember" resultType="memberVo">
  	select * from member_customer where mc_id=#{mc_id} and mc_pwd=#{mc_pwd}
  </select>
  
  <insert id="insert">
  	insert into member_customer 
  	(
  		mc_id
  		<if test="mc_pwd != null">
  		, mc_pwd
  		</if>
  		<if test="salt != null">
  		, salt
  		</if>
  		<if test="mc_email != null">
  		, mc_email
  		</if>
  		<if test="mc_name != null">
  		, mc_name
  		</if>
  		<if test="mc_nickname != null">
  		, mc_nickname
  		</if>
  		<if test="mc_tel != null">
  		, mc_tel
  		</if>
  		<if test="mc_taste != null">
  		, mc_taste
  		</if>
  		<if test="mc_fname != null">
  		, mc_fname
  		</if>
  		, mc_regdate
  		, mc_recdate
  		, mc_point
  		, mc_auth
	)
	values
	(
  		#{mc_id}
  		<if test="mc_pwd != null">
  		, #{mc_pwd}
  		</if>
  		<if test="salt != null">
  		, #{salt}
  		</if>
  		<if test="mc_email != null">
  		, #{mc_email}
  		</if>
  		<if test="mc_name != null">
  		, #{mc_name}
  		</if>
  		<if test="mc_nickname != null">
  		, #{mc_nickname}
  		</if>
  		<if test="mc_tel != null">
  		, #{mc_tel}
  		</if>
  		<if test="mc_taste != null">
  		, #{mc_taste}
  		</if>
  		<if test="mc_fname != null">
  		, #{mc_fname}
  		</if>
  		, sysdate
  		, sysdate
  		, 1000
  		, #{mc_auth}
	)
  </insert>
  
  <!-- 암호화 처리를 위한 getMember -->
  <select id="getMember" resultType="memberVo">
  	select * from member_customer where mc_id=#{mc_id}
  </select>
  
  <!-- 아이디 중복 검사 -->
  <select id="checkId" resultType="memberVo">
  	select * from member_customer where mc_id=#{mc_id}
  </select>
  
  <!-- 최근 접속일 -->
  <update id="updateRecdate">
  	update member_customer set mc_recdate = sysdate where mc_id=#{mc_id}
  </update>
  
  <!-- 비밀번호 찾기 -->
  <select id="findPwd" resultType="memberVo">
  	select mc_id, mc_email from member_customer where mc_id=#{mc_id} and mc_email=#{mc_email}
  </select>
  
  <!-- 임시비밀번호 -->
  <update id="updatePwd">
  	update member_customer set mc_pwd = '12345678' where mc_id = #{mc_id}
  </update>
  
  <!-- 회원탈퇴 -->
  <delete id="deleteMember">
  	delete member_customer where mc_id = #{mc_id}
  </delete>
   
  <!-- 회원정보세션불러오기 (회원수정에서의)-->
  <select id="sessionMember" resultType="memberVo">
  	select * from member_customer where mc_id=#{mc_id}
  </select>
   
   <!-- 회원정보수정 -->
   <update id="updateMember">
   	update member_customer set mc_pwd=#{mc_pwd}, mc_email=#{mc_email}, mc_name=#{mc_name}, mc_nickname=#{mc_nickname}, mc_tel=#{mc_tel}, mc_taste=#{mc_taste}, mc_fname=#{mc_fname} where mc_id = #{mc_id}   
   </update>
   
   <!-- 메일에서 사용하는 업데이트문 -->
   <update id="updateMember2">
   	update member_customer set mc_pwd=#{mc_pwd}, mc_email=#{mc_email}, mc_name=#{mc_name}, mc_nickname=#{mc_nickname}, mc_tel=#{mc_tel}, mc_taste=#{mc_taste} where mc_id = #{mc_id}   
   </update>
   
  <!-- 포인트 사용시 포인트 수정 -->
  <update id="updatePoint">
  	update member_customer set mc_point = #{mc_point} where mc_id = #{mc_id}
  </update>
   
</mapper>