<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myPage">

	<insert id="insertWish">
		insert into camping_wish values(wish_seq.nextval, #{mc_id}, #{cs_no})
	</insert>
	
	<select id="checkDouble" resultType="campingWishVo">
		select * from camping_wish where mc_id=#{mc_id} and cs_no=#{cs_no}
	</select>
	
</mapper>