<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">

  <select id="selectorRoom" resultType="campingRoomVo">
  	select * from camping_room where cs_no=#{cs_no} and cr_type=#{campingType}
  </select>

  <select id="detailCampingSearchResult" resultType="detailCampingSearchResultVo">
  	select cs_no, cs_name, cs_tel, cs_addr_head, cs_addr_remain, cs_url, cs_account, cs_camp_fname, cs_map_fname, cs_glamping_cnt, cs_caravan_cnt, cs_autocamping_cnt, cs_theme, cs_fac, cs_detail, mb_id 
  	from camping_spot where cs_no = #{cs_no}
  </select>

  <select id="getCampingSpot" resultType="campingSearchResultVo">
  	select cs_name name, A.cs_no no, A.price price, A.avg rate, cs_addr_head addr_head, cs_addr_remain addr_remain, cs_detail detail, cs_tel tel, cs_theme theme, cs_fac fac, cs_camp_fname camp_fname
	from (select cr.cs_no cs_no, min(cr_price) price, avg(cre_rate) avg from camping_room cr, camping_review cre where cr.cs_no = cre.cs_no and cr_type=#{campingType} group by cr.cs_no) A, camping_spot cs
	where A.cs_no = cs.cs_no
	and cs.cs_no = #{no}
	<if test="theme1 != null">
		and cs_theme like '%' || #{theme1} || '%'
	</if>
	<if test="theme2 != null">
		and cs_theme like '%' || #{theme2} || '%'
	</if>
	<if test="theme3 != null">
		and cs_theme like '%' || #{theme3} || '%'
	</if>
	<if test="theme4 != null">
		and cs_theme like '%' || #{theme4} || '%'
	</if>
	<if test="theme5 != null">
		and cs_theme like '%' || #{theme5} || '%'
	</if>
	<if test="theme6 != null">
		and cs_theme like '%' || #{theme6} || '%'
	</if>

	<if test="facility1 != null">
		and cs_fac like '%' || #{facility1} || '%'
	</if>
	<if test="facility2 != null">
		and cs_fac like '%' || #{facility2} || '%'
	</if>
	<if test="facility3 != null">
		and cs_fac like '%' || #{facility3} || '%'
	</if>
	<if test="facility4 != null">
		and cs_fac like '%' || #{facility4} || '%'
	</if>
	<if test="facility5 != null">
		and cs_fac like '%' || #{facility5} || '%'
	</if>
	<if test="facility6 != null">
		and cs_fac like '%' || #{facility6} || '%'
	</if>
	<if test="lowPrice != null">
		and A.price >= #{lowPrice}
	</if>
	<if test="highPrice != null">
		and A.price <![CDATA[<=]]> #{highPrice}
	</if>
  </select>

  <select id="campingList" resultType="campingSearchResultVo">
    select cs_no no from camping_spot 
    <if test="keyword != null">
    	where cs_name like '%' || #{keyword} || '%' 
    	or cs_addr_head like '%' || #{keyword} || '%'
    </if>
    <if test="validDate1 != null">
    	minus
    	select a.cs_no from 
		(select cs_no, count(cr_no) cnt from reserve_search
		where cr_type = #{campingType} and 
		rs_date = to_date(#{validDate1}, 'yyyy-mm-dd') 
		group by cs_no) a,
		(select cs_no, count(cr_no) cnt from camping_room where cr_type=#{campingType} group by cs_no) b
		where a.cs_no = b.cs_no and
		a.cnt = b.cnt
    </if>
    <if test="validDate2 != null">
    	minus
    	select a.cs_no from 
		(select cs_no, count(cr_no) cnt from reserve_search
		where cr_type = #{campingType} and 
		rs_date = to_date(#{validDate2}, 'yyyy-mm-dd') 
		group by cs_no) a,
		(select cs_no, count(cr_no) cnt from camping_room where cr_type=#{campingType} group by cs_no) b
		where a.cs_no = b.cs_no and
		a.cnt = b.cnt
    </if>
    <if test="validDate3 != null">
    	minus
    	select a.cs_no from 
		(select cs_no, count(cr_no) cnt from reserve_search
		where cr_type = #{campingType} and 
		rs_date = to_date(#{validDate3}, 'yyyy-mm-dd') 
		group by cs_no) a,
		(select cs_no, count(cr_no) cnt from camping_room where cr_type=#{campingType} group by cs_no) b
		where a.cs_no = b.cs_no and
		a.cnt = b.cnt
    </if>
    <if test="validDate4 != null">
    	minus
    	select a.cs_no from 
		(select cs_no, count(cr_no) cnt from reserve_search
		where cr_type = #{campingType} and 
		rs_date = to_date(#{validDate4}, 'yyyy-mm-dd') 
		group by cs_no) a,
		(select cs_no, count(cr_no) cnt from camping_room where cr_type=#{campingType} group by cs_no) b
		where a.cs_no = b.cs_no and
		a.cnt = b.cnt
    </if>
  </select>
</mapper>